In [2]:
import pandas as pd
import numpy as np

In [16]:
respiratory=pd.read_csv("respiratoryCharting.csv", chunksize=10000)

In [17]:
l_r=[]
for chunk in respiratory:
    l_r.append(chunk)

In [18]:
len(l_r)

2017

In [19]:
df_resp=pd.concat(l_r, sort=False)

In [ ]:
df_resp.head()

In [27]:
respFiO2=df_resp.loc[df_resp['respchartvaluelabel']=='FiO2']

In [ ]:
respFiO2.head()

In [29]:
respFiO2.loc[respFiO2['respchartvalue']==0, 'respchartvalue']=1

In [30]:
respFiO2['respchartvalue']=respFiO2['respchartvalue'].str.replace('%','')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
respFiO2=respFiO2[['patientunitstayid','respchartentryoffset', 'respchartvaluelabel', 'respchartvalue']]

In [42]:
respFiO2.dtypes

patientunitstayid         int32
respchartentryoffset      int32
respchartvaluelabel      object
respchartvalue          float32
dtype: object

In [39]:
respFiO2[['patientunitstayid','respchartentryoffset']]=respFiO2[['patientunitstayid','respchartentryoffset']].astype('int32')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [41]:
respFiO2[['respchartvalue']]=respFiO2[['respchartvalue']].astype('str').astype('float32')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [43]:
df_lab=pd.read_csv("labs_before_FiO2.csv")
df_lab['paO2_FiO2']=np.nan

In [ ]:
df_lab.head()

In [45]:
df_lab=df_lab[['patientunitstayid', 'labresultoffset', 'labname', 'labresult', 'paO2_FiO2' ]]

In [46]:
df_lab.dtypes

patientunitstayid      int64
labresultoffset        int64
labname               object
labresult            float64
paO2_FiO2            float64
dtype: object

In [47]:
df_lab[['patientunitstayid','labresultoffset']]=df_lab[['patientunitstayid','labresultoffset']].astype('int32')

In [48]:
df_lab[['labresult','paO2_FiO2']]=df_lab[['labresult','paO2_FiO2']].astype('float32')

<h1>WARNING! The next block of code takes about 15 hours to run. Please keep that in mind. 
If the processed csv is needed, please contact me</h1>

In [50]:
count=0
for row in df_lab.itertuples():
    if (row.labname=='paO2'):
        pid=row.patientunitstayid
        toffset=row.labresultoffset
        index=row.Index
        if(any(respFiO2.loc[(respFiO2['patientunitstayid']==pid) & ((respFiO2['respchartentryoffset']<=toffset+200) & (respFiO2['respchartentryoffset']>=toffset-200)),'respchartvalue'].values)):
            result = row.labresult/(respFiO2.loc[(respFiO2['patientunitstayid']==pid) & ((respFiO2['respchartentryoffset']<=toffset+200) & (respFiO2['respchartentryoffset']>=toffset-200)),'respchartvalue'].iloc[0]/100)
            df_lab['paO2_FiO2'][index]=result      
        else:
            df_lab['paO2_FiO2'][index]=df_lab['paO2_FiO2'].mean()
    count+=1
    if((count%10000)==0):
        print(count)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

10000
20000
30000

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in double_scalars

40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000
1050000
1060000
1070000
1080000
1090000
1100000
1110000
1120000
1130000
1140000
1150000
1160000
1170000
1180000
1190000
1200000
1210000
1220000
1230000
1240000
1250000
1260000
1270000
1280000
1290000
1300000
1310000
1320000
1330000
1340000
1350000
1360000
1370000
1380000
1390000
1400000
1410000
1420000
1430000
1440000
1450000
1460000
1470000
1480000
1490000
1500000
1510000
1520000
1530000
1540000
1550000
1560000
1570000
1580000
1590000
1600000
1610000
1620000
1630000
1640000
1650000
1660000
1670000
1680000
1690000
1700000
1710000
1720000
1730000
1740000
1750000
1760000
1770000
1780000
1790000
1800000
1810000
1820000
1830000
1840000
1850000
1860000
1870000
1880000
1890000
1900000
1910000
1920000
1930000
1940000
1950000
1960000
1970000
1980000
1990000
2000000
2010000

In [ ]:
for pid in df_lab['patientunitstayid'].unique():
    df_lab.loc['']

In [ ]:
df_lab.head()

In [58]:
respFiO2.loc[(respFiO2['patientunitstayid']==147037) & ((respFiO2['respchartentryoffset']<=4100+200) & (respFiO2['respchartentryoffset']>=4100-200)),'respchartvalue']

Series([], Name: respchartvalue, dtype: object)

In [ ]:
df_lab.iloc[750]

In [69]:
len(df_lab.loc[df_lab['labname']=='paO2'])

420762

In [72]:
np.ones((len(df_lab),1))

numpy.ndarray

In [107]:
df_lab['labresult'].mean()

151.67764282226562

In [51]:
import csv

In [ ]:
df_lab.to_csv("labs_after_FiO2.csv", sep=',', index=False, encoding='utf-8')

<h1>Continue from here</h1>

In [17]:
pre_final_lab=pd.read_csv("labs_after_FiO2.csv")

In [18]:
pre_final_lab['platelets_x_1000']=np.nan
pre_final_lab['total_bilirubin']=np.nan
pre_final_lab['urinary_creatinine']=np.nan

In [19]:
pre_final_lab['platelets_x_1000']=pre_final_lab.loc[pre_final_lab['labname']=='platelets x 1000','labresult']
pre_final_lab['total_bilirubin']=pre_final_lab.loc[pre_final_lab['labname']=='total bilirubin','labresult']
pre_final_lab['urinary_creatinine']=pre_final_lab.loc[pre_final_lab['labname']=='urinary creatinine','labresult']

In [ ]:
pre_final_lab

In [21]:
pre_final_lab=pre_final_lab.replace([np.inf, -np.inf], np.nan)

In [22]:
del pre_final_lab['labresult']

In [ ]:
pre_final_lab

In [24]:
pre_final_lab.describe()

,patientunitstayid,labresultoffset,paO2_FiO2,platelets_x_1000,total_bilirubin,urinary_creatinine
count,2.010839e+06,2.010839e+06,190301.000000,1.139619e+06,425009.000000,13227.000000
mean,1.753460e+06,5.185645e+03,388.943193,2.157523e+02,1.558249,99.160934
std,1.003857e+06,3.606784e+04,2225.146286,1.208963e+02,3.586318,71.979411
min,1.411680e+05,-4.731957e+07,-212.500000,0.000000e+00,0.000000,0.400000
25%,9.594120e+05,1.070000e+02,137.500000,1.370000e+02,0.400000,48.000000
50%,1.644075e+06,2.125000e+03,214.285720,1.970000e+02,0.600000,82.840000
75%,2.770721e+06,6.822000e+03,316.666660,2.700000e+02,1.200000,130.555000
max,3.353263e+06,8.305830e+05,129666.664000,3.092000e+03,99.000000,1288.000000

<p>The following block is made to iterate over the entire dataset and plug missing values with both ffill and bfill techniques,
but filling 3 at a time. Due to the code taking a lot of time, I have left it as of now. I'll look into it further after the rest of
the tables are processed.<p>